body{
    font-size: 16px;
}
h1{
    width: 65px;
    color: orangered;
    font-family: sans-serif;
}
ul{
    background-color: beige;
}
.background-defined{
    background-color: aliceblue;
}
p{
    font-weight: 600;
    font-size: 3em;
}
ul{
    font-style: italic;
    line-height: 40px;
    text-align: justify;
    text-decoration: underline;
}
#yellow{
    background-color: yellow;
}
#red{
    background-color: red;
}
#brown{
    background-color: brown;
}